.container {
  width: 100%;
  border-radius: 4px;
  background-color: #f1f1f1;
  padding: 8px 0;
  margin: 8px auto;
  box-shadow: 0 0 8px 0px #232323;
}

.title {
  font-size: 32px;
  margin: 8px 16px;
}

.text {
  font-size: 28px;
  margin: 8px 16px;
}

.title,
.text {
  text-align: center;
  line-height: 32px;
  font-weight: 600;
}
